<!DOCTYPE html>
<html ng-app="viewer">

  <head>
    <title> Quick Fix </title>

    <script src="angular.js"> </script>
    <script src="angular-route.js"> </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="style.css" />

    <script src="data.js"></script>
    <script src="services.js"></script>
    <script src="controller.js"></script>

  </head>

  <body>
    <h1> Order your favorite meals today! </h1>
    
    <div class="container" ng-controller="ShopsController">

      <div class="list">
        <div class="entry" ng-repeat="shop in data.shops"> 
        <!-- <div class="entry" ng-repeat="shop in shopsData">  -->
          <img class="entry logo" ng-src="{{shop.logo}}">
          <ul class = "entry info">
            <li> <h3> {{shop.restaurant_name}} </h3> </li>
            <li> <b> Cuisine: </b> {{shop.description}} </li>
            <li> <b> Address: </b>{{shop.location}} </li>
            <li> <b> Contact: </b>{{shop.telephone}} </li>
            <li> <b> Meals Available: </b> {{shop.meal}} </li>
        </ul> <!-- close entry -->
      </div>  <!-- close list -->

    </div> <!-- close container -->
  </body>

</html>
