.container {
  margin: 10px;
}

.list {
  margin: 10px;

}

nav {
  display: inline-block;
}

.entry {
  margin: 1em 1em;
  display: inline-block;
  vertical-align: top;
}

.info {
  width: 70%;
}

li {
  list-style: none;
  margin: 1em 1em;
}

.info {
  margin: 10px, 10px;
}