<!DOCTYPE html>

<head>
  <title> Quick Fix </title>

  <script src="./node_modules/react/dist/react.js"> </script>
  <script src="./node_modules/react-dom/dist/react-dom.js"> </script>
  <script type="text/javascript" src="./node_modules/jquery/dist/jquery.min.js"></script>
  <link href="./src/css/index.css" type="text/css" rel="stylesheet">

</head>

<body>
  <div id="app">
    
    Hi test test
    
  </div>

  <!-- <script src='app.js'></script> -->
</body>

</html>

